//Mixins for colors

$white: #FFFFFF;
$aubergine: #311852;
$purple: #4D36DC;
$pink: #FFDFED;
$orange: #FF7A1F;
$almostWhite: #F7F0FF;
$grey: #8D829C;
$cream: #FFF9F5;


@keyframes pulse {
    0% {
        transform: scale(.9) ;
        box-shadow: 0 0 0 rgba(166, 22, 234, 0.7);
    }
    50% {
        transform: scale(1.1) ;
        box-shadow: 0 0 0 50px rgba(#a616ea, 0);
    }
    100% {
        transform: scale(1) ;
        box-shadow: 0 0 0 50px rgba(#a616ea, 0);
    }
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
